/* ==== PAGE SETUP ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

:root {
  /* Primitive colors */
  --color-black: #000;
  --color-white: #fff;

  /* Semantic colors*/

  --color-panel-background: var(--color-white);
  --color-panel-foreground: #f6f6f6;

  --color-theme-primary: #b73b3b;
  --color-theme-primary-accent: #b73b3b;

  --color-display-cell: #f8feff;
  --color-display-cell-selected: var(--color-black);

  --color-navbar-primary: var(--color-theme-primary);
  --color-navbar-accent: var(--color-theme-primary-accent);

  --color-button-enter: var(--color-navbar-primary);
  --color-button-clearform: #918f8f;
  --color-button-clearform-alt: #817f7f;
  --color-button-disable: #636363;
  --color-button-update: #4296ba;
  --color-button-delete: #e02b2e;
  --color-button-add: #8a50ff;

  --color-status-occupied: #e95f5f;
  --color-status-vacant: #8cc767;
  --color-status-reserved: #6c99ed;
  --color-status-closed: #878787;

  --color-text-primary: var(--color-black);
  --color-text-sub-primary: #f0efef;
  --color-text-alternate: var(--color-white);
  --color-text-link: #1277a2;

  --color-input-fill: #d9d9d9;
  --color-input-border: #5c5c5c;

  --color-detail-line: #5c5c5c;

  /* Universal font size (not yet in use) */
  --font-size-standard: 12pt;
}

html {
  font-size: var(--font-size-standard);
  font-family: "Inter", "Poppins", "Segoe UI", "Tahoma", "sans-serif";
  background-color: var(--color-white);
}
* {
  margin: 0;
  padding: 0;

  user-select: none;
}

/* ==== NAVIGATION BAR DESIGN ==== */

nav {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--color-theme-primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .active-link {
    background-color: var(--color-theme-primary-accent);
  }
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .home-link {
  margin-right: auto;
}

nav a {
  border-radius: 5%;
  height: 50%;
  padding-inline: 1em;
  margin-block: 100%;
  margin-inline: 0.3em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-alternate);

  user-select: none;

  &:hover {
    background-color: var(--color-theme-primary-accent);
  }
}

nav svg {
  fill: var(--color-text-alternate);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

/* ==== MAIN CONTENT ==== */

.main-border-box {
  background-color: var(--color-panel-foreground);
  box-shadow: 0 9px 33px 9px rgba(0, 0, 0, 0.5);
}

/* ==== MOBILE RESPONSIVE ===== */
@media (max-width: 450px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: min(100%, 300px);

    background-color: var(--color-theme-primary);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

    transition: 0.65s ease-out;
  }

  nav a {
    border-radius: 0;
    box-sizing: border-box;
    height: 10px;
    width: 100%;
    padding: 20px 30px;
    margin: 0;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    background-color: hsla(hue, saturation, light, 0%);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 9;
  }
}
