* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar main1"
    "sidebar main2";

  gap: 1em;
}

nav {
  grid-area: navbar;

  z-index: 10;
  position: sticky;
  top: 0;
}

aside {
  grid-area: sidebar;

  height: 85vh;
  position: sticky;
  padding: 1em;

  display: flex;
  flex-flow: column nowrap;

  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;

  a {
    background-color: transparent;
    color: var(--text-color-1);
    font-size: 1.5em;
    text-decoration: none;

    border-bottom: solid thin var(--line-detail-color);
    transition:
      scale 0.5s ease-in-out,
      background-color 1s ease-in-out;
  }
  a:hover {
    background-color: line-gradient(to left, gray, rgba(0, 0, 0, 0));
    transform: scale(1.2);
  }
}

main {
  background-color: var(--fg-color);
}

.main-top {
  grid-area: main1;
  display: flex;
  padding: 1em;
}
.main-bottom {
  grid-area: main2;

  padding: 2em;
}

.input-area {
  flex-grow: 2;
  height: fit-content;

  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap;
  gap: 1em;
  padding: 0.5em;
}

.label-line {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: var(--text-color-1);
}

.input-field {
  max-height: minmax(auto, 3em);

  border: none;
  border-radius: 3px;
  background: var(--textbox-fill-color);
  outline: none;

  padding: 1em;
}

.entry-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button-area {
  margin: 2em;
  height: auto;
  flex-grow: 1;
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-area button {
  color: var(--text-color-2);
  font-size: 1em;
  height: auto;
  width: 80%;

  background-color: var(--button-add-color);
  border: transparent thin;
  border-radius: 5px;
  outline: none;

  padding-block: 0.5em;
  padding-inline: 1em;

  justify-content: center;
  align-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;

  cursor: pointer;
}
.button-area button:hover {
  border: var(--button-add-color);
  background-color: oklch(60% chroma hue);
}

.button-area .material-symbols-outlined {
  color: inherit;
  display: inline-flex;
  align-items: center;
}

.action-button-area {
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.action-button-area .update-button {
  color: inherit;
  background-color: var(--update-button-color);
  border-radius: 50%;
  border: none;
  height: 3em;
  width: 3em;

  justify-content: center;
  align-items: center;
}
.action-button-area .delete-button {
  color: inherit;
  background-color: var(--delete-button-color);
  border-radius: 50%;
  border: none;
  height: 3em;
  width: 3em;

  justify-content: center;
  align-items: center;
}

.entry-area {
  justify-content: center;
  min-width: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.select-box {
  border: none;
  appearance: none;
  margin: 0;
  padding: 0.5em;
  margin-inline: 10em;
  width: 100%;
  color: var(--text-color-1);
  font-size: 1em;

  display: flex;
  justify-content: space-around;
}

.entry-area .icon-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  right: 0.5em;
  top: 25%;
  position: absolute;
  pointer-events: none;
}

.icon-container {
  font-size: 1em;
  color: var(--line-detail-color);
  background-color: transparent;
}
