* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: auto 30% / auto;
  grid-template-areas:
    "navbar navbar navbar"
    "sidebar main1 main1"
    "sidebar main2 main2";

  gap: 1em;
}

nav {
  grid-area: navbar;

  z-index: 10;
  position: sticky;
  top: 0;
}

aside {
  grid-area: sidebar;

  height: 85vh;
  position: sticky;
  padding: 1em;

  display: flex;
  flex-flow: column nowrap;

  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;

  a {
    background-color: transparent;
    /* outline: auto; */
    color: var(--text-color-1);
    font-size: 1.5em;
    text-decoration: none;

    border-bottom: solid thin var(--line-detail-color);
    transition:
      scale 0.5s ease-in-out,
      background-color 1s ease-in-out;
  }
  a:hover {
    background-color: line-gradient(to left, gray, rgba(0, 0, 0, 0));
    transform: scale(1.2);
  }
}

.main-top {
  grid-area: main1;
  display: flex;
}
.main-bottom {
  grid-area: main2;

  padding: 2em;
}

.input-area {
  border: solid thick pink;
  height: fit-content;
  width: 100%;
}

.button-area {
  border: solid thick pink;
  height: fit-content;
  width: 30%;
}
