* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr/ 2fr 1fr;
  grid-template-areas:
    "navbar navbar"
    "main sidebar";

  gap: 2em;
}

nav {
  grid-area: navbar;

  z-index: 10;
  position: sticky;
  top: 0;
}

aside {
  grid-area: sidebar;

  height: 80vh;
  position: sticky;
  align-self: start;

  margin: 1em;
  margin-inline: 1.5em;
  margin-left: 0;
}
main {
  grid-area: main;

  max-height: 80vh;
  margin: 1em;
  margin-inline: 1.5em;
  margin-right: 0;
}

.mobile-only {
  display: none;
}

#room-grid-container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.75rem;
  justify-content: center;
  overflow: auto;
}

.room-wrapper {
  position: relative;
}

.room-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.room-input:checked + .room-card {
  border-color: var(--selected-color);
  background-color: #ffffff;
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.65);
}

.room-card {
  margin: 0;
  font-size: 0.85rem;
  opacity: 0.8;

  position: relative;
  background-color: var(--cell-color, #aaa);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3.5rem;
  cursor: pointer;

  transition: transform 0.2s ease;
}
.room-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;

  background-color: var(--status-color, #878787);

  transition: background-color 0.3s ease;
}
.room-status {
  margin: 0;
  font-size: 0.85rem;
  opacity: 0.8;
  text-transform: capitalize;
}
.room-name {
  margin: 0;
  font-size: 1.1rem;
  color: var(--text-main);
  font-weight: bold;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
    position: fixed;
    width: 300px;
  }
  .show {
    display: block;
  }

  .mobile-only {
    display: block;
  }
}
