* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-contain {
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;

  background: var(--color-panel-background);
}

.main-container {
  background-color: var(--color-panel-foreground);
  width: 30vw;
}

.main-border-box {
  font-family: "Kumbh Sans", "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  background: var(--color-panel-foreground);
  padding: 2em;

  position: relative;
  height: 100%;
  line-height: 80px;

  h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Kumbh Sans", "Inter", sans-serif;
    font-weight: 300;
  }

  a {
    color: var(--color-text-link);
    text-decoration: none;
  }

  p {
    cursor: default;
    text-align: center;
    font-size: 0.7em;
  }
}

.input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn-enter {
    width: 70%;
    height: 2em;

    line-height: 1;
    font-size: 1.5em;
    font-weight: 300;
    font-family: "Inter", sans-serif;

    color: var(--color-text-alternate);
    background-color: var(--color-theme-primary);

    border: transparent;
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border: var(--button-color);

    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      background-color: var(--color-theme-primary-accent);
    }

    svg {
      display: block;
      fill: var(--color-text-alternate);
      justify-self: end;
      align-self: flex-end;
    }
  }

  .btn-reset {
    width: 70%;
    height: 2em;

    line-height: 1;
    font-size: 1.5em;
    font-weight: 300;
    font-family: "Inter", sans-serif;

    color: var(--color-text-alternate);
    background-color: var(--color-button-clearform);

    border: transparent;
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border: var(--button-color);

    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      background-color: var(--color-button-clearform-alt);
    }
  }
}

.entry-area {
  position: relative;
  min-height: 3.1em;
  height: 5.5em;
  width: 80%;
  padding-bottom: 2.2rem;
  height: 6.5em;
}

input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 1em;
  padding-inline: 2em;
  line-height: 3em;
  border-radius: 5px;
  background-color: var(--color-input-fill);
  border: thin transparent;
  transition: 0.1s ease;

  z-index: 10;
}

.name-group {
  width: 80%;
  display: flex;
  gap: 1em;
}

.name-group .entry-area {
  flex: 1;
}

.label-line {
  text-wrap: nowrap;
  position: absolute;
  font-size: 1rem;
  margin-inline: 1.25rem;
  margin-block: -1rem;
  color: var(--color-detail-line);
  background-color: transparent;
  transition: 0.2s ease-in-out;

  z-index: 10;
}

input:focus,
input:valid {
  color: var(--color-input-border);
  border: 2px solid var(--color-detail-line);
}

input:focus + .label-line,
input:valid + .label-line {
  font-size: 1em;
  height: 1.8rem;
  line-height: 1.8rem;
  padding-inline: 1px;
  transform: translate(-0.9rem, -1ex) scale(0.7);
  z-index: 10;
}

select {
  text-align: center;
  background-color: var(--color-input-fill);
  border: transparent;
  border-radius: 5px;

  min-width: 100%;
  min-height: 3.1em;
}
option:hover {
  background-color: var(--color-detail-line);
}

.req-error {
  display: none;
  position: absolute;
  font-size: 0.8rem;
  color: red;
  width: 100%;
  top: 3.4em;
  left: 0;
  z-index: 11;
  line-height: 1.2;
  white-space: normal;
}

.req-error.visible {
  display: block;
  padding-top: 1em;
}
